<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/lib/head.ejs')%>
</head>
<body>
	<div class="d-flex flex-column flex-root">
		<!--begin::Header-->
		<div id="kt_header" class="header align-items-stretch">
			<div class="toolbar mt-0">
				<!--begin::Toolbar-->
				<div
					class="container-fluid py-6 py-lg-0 d-flex flex-column flex-sm-row align-items-lg-stretch justify-content-sm-between">
					<!-- <span class="fs-2hx fw-bolder text-dark me-5 lh-5">Asante Project</span> -->
					<h1 class="d-flex flex-column text-dark fw-bolder fs-1 mb-0">Asante Project</h1>
					<!--begin::Page title-->
					<br>
					<!--  -->
					<%- include('../partials/lib/default.ejs')%>
						<div class="d-flex align-items-center overflow-auto pt-3 pt-sm-0">
							<%- include('../partials/lib/libnav.ejs')%>
								<!--end::Actions-->
						</div>
						<!--end::Action group-->
				</div>
				<!--end::Toolbar-->
			</div>
		</div>
		<div class="border-bottom border-2 border-primary opacity-1"></div>
		<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
			<!--begin::Container-->
			<%- include('../partials/lib/bookchip.ejs')%>
				<!--end::Row-->
		</div>
		<!-- footer -->
		<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
			<%- include('../partials/footer.ejs')%>
		</div>
	</div>
	<!-- Jquery -->
	<script src="/js/jquery.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- chat -->
	<script src="/js/popper.js"></script>
	<!-- tether -->
	<script src="/js/tether.js"></script>
	<!-- var -->
	<script src="/js/var.js"></script>
	<script src="/js/plugins.bundle.js"></script>
	<script src="/js/scripts.bundle.js"></script>
	<script src="/js/type.js"></script>
	<script src="/js/intro.js"></script>
</body>
</html>