<!-- sort students per school and form -->

<table class="table table-striped table-responsive" id="table">
  <thead>
    <tr>
      <td>Student Name</td>
      <td>Phone Number</td>
      <td>Gender</td>
      <td>Form</td>
      <td>Location</td>

      <td>Sponsored</td>
    </tr>
  </thead>
  <tbody>
    <%student.forEach(function(data){%>
      <%if((data.school==schldata._id)){%>
        <tr>
          <td>
            <a href="/student/edit/<%=data._id%>">
              <%=data.studentname%>
            </a>
          </td>
          <td>
            <%=data.contact%>
          </td>
          <td>
            <%=data.gender%>
          </td>
          <td>
            <%=data.form%>
          </td>
          <td>
            <%=data.location %> County
          </td>
          <td>
            <%if(data.sponsored=='on' ){%>
              <div class="alert alert-success py-1" role="alert">
                Sponsored
              </div>
              <%}else{%>
                <div class="alert alert-danger py-1" role="alert">
                  Not Sponsored
                </div>
                <%}%>
          </td>
        </tr>
        <%}%>
          <%})%>
  </tbody>
</table>
